body{
    background: url("../Img/download.png");
}
*{
    padding: 0;
    margin: 0;
}
h1{
    color: White;
    font-size: 50px; 
}

.corpo{
    display: block;
    position: absolute;
    padding: 20px;
    margin: 445px;
    margin-top: 50px;
    width: 1000px;
    height: 700px;
    border: 1px solid rgb(255, 255, 255);
    border-top: none;
    border-radius: 10px;
    background-color: rgba(77, 71, 70, 0.637);
    border: 10px solid rgb(54, 54, 54);
}
.palco{

    display: inline-block;
    position: relative;
    width: 1000px;
    height: 150px;
    border: 3px solid rgb(51, 49, 49);
    border-radius: 50px;
    background-color: rgba(243, 243, 243, 0.411);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#resultado{
    text-align: end;
    position: relative;
    top: 50px;
    right: 30px;
    font-size: 50px;
}

#igual{
    width: 520px;
}
.botoes{

    width: 100px;
    height: 80px;
    font-size: 30px;
    margin: 20px;
    float: left;

}

input[type=button]{
    border-radius: 15px;
    box-shadow: 3px 2px 2px;
}
input[type=button]:hover{
    background-color: rgba(0, 0, 0, 0.438);
    color: white;
}

